.blog {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-size: contain;
  background-image: url("https://t3.ftcdn.net/jpg/05/12/30/98/360_F_512309818_VlLXVDiOeVANyoXhccFANLv9rymlAl0f.jpg");
}

.blog h1 {
  text-align: center;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.post {
  border: 1px solid #ddd;
  padding: 20px;
  padding-bottom: 40px;
  position: relative; 
}

.delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f32c2c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}


.delete-button:hover {
  background-color: #cc0000;
}

.post-title {
  margin-top: 0;
}

.post-body {
  margin-bottom: 0;
}


.main{
  display: flex;
  flex-direction: row;
}

.sideNav {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sideNavTitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.newPostButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.newPostButton:hover {
  background-color: #0056b3;
}

.sideNavList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sideNavItem {
  margin-bottom: 10px;
  cursor: pointer;
}

.sideNavItem:hover {
  color: #007bff;
}




.search-form {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  
}

.search-input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  width: 95%;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
 
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:focus {
  outline: none;
}

.search-button svg {
  font-size: 18px;
}


.blog-heading {
  text-align: center;
  font-size: 2rem;
  color: #333; /* Adjust the color as needed */
  margin-bottom: 20px;
}
